@media only screen and (max-width: 479px) {

    header .navbar-default .navbar-collapse {
        background: #000000;
        margin-top: 18px;
        margin-left: 11px;
    }
    header .navbar-default .navbar-collapse li a{
        padding: 10px !important;
    }

    #contacts{
        background: #ed530d;
    }
    #contacts .card{
        padding: 0 20px;
    }
    #enroll .form-container,
    #skills .form-container{
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
        margin-top: 0 !important;

    }
    .cause ul{
        margin: 0;
        padding: 0;
    }
    .servicebox .img-responsive{
        margin: 0 auto;
        width: 100%;
    }
}