.servicebox {
    overflow:hidden;
    position:relative;
    display: inline-block;
    cursor: pointer;
}
.servicebox h2{
    text-transform: uppercase;
}
.servicebox .servicebox-inner{
    padding:10px 10px 0 10px;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    position:absolute;
    bottom:-100px;
    display: inline-block;
    border-top:1px solid #e500ff;
    height:100px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.servicebox:hover .servicebox-inner{
    bottom: 0;
}
.servicebox .servicebox-inner h2{
    color:#e500ff;
    font-size:24px;
    padding-bottom:15px;
    padding-top:15px;
}
.servicebox .servicebox-inner p{
    color:#fff;
    font-size:14px;
    padding-bottom:0;
}

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    *display: inline;/*IE7 life-saver */
    padding: 0;
    margin-right: 5px;
    font-weight: normal;
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #fff;
    filter: Alpha(Opacity=80);/*IE7 fix*/
    opacity: 0.8;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    position: absolute;
    left: 0;
    top: 40%;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    position: absolute;
    right: 0;
    top: 40%;
}
.owl-theme .owl-controls .owl-buttons div:hover {
    background: #e500ff;
    border-color: #c30ed8;
}

.services-price img{
    width: 100%;
}